section#blue-codes
  .container
    .row.justify-content-center.my-5: h2 Blue Codes
    .row.justify-content-center.my-5.text-center
      form(action="#")
            label Ingresa el #[strong Blue Code] de tu producto #[strong Klennex Beauty]
            input.form-control(placeholder="Código").mb-3
            .text-center
                button(type="submit").btn.btn-primary Registrar