section#que-es
  .container
    .row.justify-content-center.my-5: h2 ¿Qué es #{nombre}?
    .row.justify-content-center.my-5.text-center: p #[strong #{nombre}] lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nunc dictum, lobortis eros vitae, elementum lacus. 