| <!DOCTYPE html>
include _mod/_app
html(lang="es")
  +head
  body
    // Login, logout
    +nav(true, false)
    // Secciones
    include _mod/_banner
    // Qué es
    include _mod/_quees
    // Registro
    include _mod/_registro
    +registro
    // Sucursales
    include _mod/_sucursales
    // Promociones
    include _mod/_promociones
    // Contacto
    include _mod/_contacto

  +footer
  +scripts