.modal
    .modal-dialog
        .modal-content
            .modal-header
                h2.modal-title Iniciar sesión
            .modal-body
                form(action="#")
                    input.form-control(placeholder="Usuario").mb-3
                    input.form-control(placeholder="Clave de acceso" type="password").mb-3
                    .text-center
                        button(type="submit").btn.btn-primary Iniciar sesión