mixin textspp
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa excepturi, veniam at fugit consequatur quo perspiciatis quis quibusdam dolorem sit quisquam dolorum fugiat accusantium alias provident optio, beatae repellendus nam.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis accusantium, illum quibusdam dolor ducimus dolores aliquid nesciunt numquam atque placeat incidunt architecto qui velit consequatur quos? Doloribus explicabo quod maiores?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sunt laborum harum velit nisi libero. Consectetur, illum. Impedit, mollitia quaerat iure delectus atque iste itaque esse? Tenetur iusto culpa voluptates.
.modal.fade#modalterminos
  .modal-dialog
    .modal-content
      h2.text-center Terminos y condiciones
      .modal-body: +textspp
.modal.fade#modaaviso
  .modal-dialog
    .modal-content
      h2.text-center Aviso de privacidad
      .modal-body: +textspp
.modal.fade#modalpolitica
  .modal-dialog
    .modal-content
      h2.text-center Política de privacidad
      .modal-body: +textspp
.modal.fade#modalglobal
  .modal-dialog
    .modal-content
      h2.text-center Política de privacidad de global
      .modal-body: +textspp
