section#ayuda: .container
  h2.my-5.text-center Necesito Ayuda
  div.text-center.mt-5: h3 Envíenos sus preguntas
  .row.justify-content-center
    form(action="#").mb-2
      input.form-control(placeholder="Asunto").mb-3
      textarea.form-control(placeholder="Mensaje").mb-3
      .text-center: button(type="submit").btn.btn-primary Enviar