section#codigo-promocional: .container
  h2.my-5.text-center Código promocional
  .text-center: img(src="app/img/ico_promos.png").img-fluid.mx-auto.icosketch
  div.text-center.mt-5: h3 Ingrese su código promocional
  .row.justify-content-center
    form(action="#").mb-2
      input.form-control(placeholder="Código promocional").mb-3
      .text-center: button(type="submit").btn.btn-primary Enviar