section#mis-maltas: .container
  h2.my-5.text-center Mis Maltas
  .text-center: img(src="app/img/ico_maltas.png").img-fluid.mx-auto.icosketch
  div.text-center.mt-5: h3 Sus transacciones en Maltas son:
  .row.justify-content-center.my-4
    .col-4: h3 Total
    .col-2.text-right: h3 0
  hr
  .text-center.my-5
    p Redima sus #[strong Maltas] en nuestros puntos de venta #[strong BBC] por productos o merchandising. Pronto podrá redimir también desde nuestra App.  
    p Recuerde que #[strong 10 Maltas] equivalen a #[strong $10] pesos que podrá redimir en nuestros puntos de venta #[strong BBC].
    p: small Sus Maltas se verán reflejadas en la aplicación a más tardar 24 horas después de cada consumo.
  