/* COLORES  */
:root{
  --col1 : #00994A;
  --col2  : #46413C;
}
/* COLORES APLICADOS */
.btn { background-color: var(--col2);  border: none; }
.btn:hover { background-color: var(--col1); }
.list-group-item.active {     background-color: var(--col2); border-color: var(--col2); }
.alert-primary { background: #fff; border: 2px solid var(--col2); }
h2 { border-bottom: 2px solid var(--col1); }
a { color: #aaa; }
a:hover { color: var(--col1); }
nav.navbar { border-bottom: 1px solid var(--col1); }
/* --------------------------- */
/* ######### ESTILOS ######### */
/* FUENTE */
* {
  font-family: 'Montserrat', sans-serif;
}
/* MENU - NAVBAR */
nav.navbar { box-shadow: 0 20px 40px rgba(0,0,0,0.1); }
nav.navbar:not(.sticky-top) {
  flex-direction: column;
}
nav.navbar:not(.sticky-top) .navbar-brand {
  text-align: center;
  margin: 20px 0;
}
nav.navbar .navbar-brand img {
  max-height: 180px;
}
nav.navbar.sticky-top .navbar-brand img {
  height: 80px;
}
nav.navbar.sticky-top ul.navbar {
  margin-left: auto;
}
nav.navbar .nav-link {
  color: #000; 
}

.bwallet {
  font-weight: bold;
  font-size: 1.6rem;
  color: #757575;
  text-transform: uppercase;
}
.bwallet img{
  margin: -10px 0;
  max-width: 320px;
}

/* SECTIONS */
section {
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 200px;
}
h2 {
  font-weight: bold;
  padding: 20px;
}
/* FOOTER */
footer .navbar .nav-link {
  color: #fff;
  font-size: 0.8rem;
}
.pleca { background: #8DB8E6; }

/* MODAL LOGIN */
#loginmodal .modal-footer a {
  font-size: 0.8rem;
  color: #000;
  margin: 0 15px;
}
/* SCROLL SMOOTH */
html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}
body.with-stick { padding-top: 150px;}

/* --------------------------- */
/* ######### CUSTOMS ######### */
body, nav.navbar {
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/absurdidad.png);
}

