| <!DOCTYPE html>
include _mod/_app
html(lang="es")
  +head
  body
    // EDO DE CUENTA MODIFICADO############!!!!!!!
    // Login, logout
    +nav(true, false)

    // Secciones
    include _mod/_banner
    // Qué es
    include _mod/_quees
    // Registro
    include _mod/_registro
    +registro
    // BlueWallet
    include _mod/_bluewallet
    // BlueCodes
    //include _mod/_bluecodes
    // Catalogo
    //include _mod/_catalogo
    // Promociones
    include _mod/_promociones
    // Contacto
    include _mod/_contacto

  +footer
  +scripts