.carousel.slide(data-ride="carousel")#mainbanner
  .carousel-inner
    .carousel-item.active
      img(src="app/img/s1.jpg").d-block.w-100
    .carousel-item
      img(src="app/img/s2.jpg").d-block.w-100
  .carousel-control-prev(href="#mainbanner" role="button" data-slide="prev")
    span.carousel-control-prev-icon
  .carousel-control-next(href="#mainbanner" role="button" data-slide="next")
    span.carousel-control-next-icon