section#blue-wallet
  .container
    .row.justify-content-center.my-5: h2 Blue Wallet
    .row.justify-content-center.my-5
        .col-md-6.text-center.bwallet
            div ¡Descarga gratis la app
            div: img(src="app/img/bluewallet.svg", alt="BlueWallet")
            div ahora mismo!
    .row.justify-content-center.my-5
        .col-md-6
            ul.my-5
                li Genera tu #[strong Tarjeta Digital] de #[strong #{nombre}]
                li Consulta tu saldo de #[strong #{nombre}]
                li Consulta tus transacciones.
                li Recibe promociones especiales.
            .row.my-5.text-center
                .col: img(src="app/img/googleplay.png", alt="Google Play")
                .col: img(src="app/img/appstore.png", alt="AppStore")
        .col-md-6.text-center
          img(src="app/img/bluewallet.png").d-block.img-fluid.mx-auto