.modal
    .modal-dialog
        .modal-content
            .modal-header
                h2.modal-title Iniciar sesión
                p Ingresa el Blue Code de tu producto Klennex Beauty
            .modal-body
                form(action="#")
                    input.form-control(placeholder="Usuario").mb-3
                    input.form-control(placeholder="Contraseña" type="password").mb-3
                    .text-center
                        button(type="submit").btn.btn-primary Registrar